.contenedor {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 1%;
}

.aLaDerecha {
  text-align: right;
}

.censurado {
  position: relative;
  display: inline-block;
}

.censurado::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000; /* Color de censura (en este caso, negro) */
  z-index: 1;
}

.censurado p {
  position: relative;
  z-index: 2;
}

body {
  padding: 0%;
  background-color: rgb(0, 0, 54);
  margin: 10%;
}

div {
  background-color: rgb(11, 0, 73);
  border: 2px solid rgba(0, 0, 0, 0.514);
padding:3%;
  margin: 1%;
  color: rgb(175, 175, 175);
}

.TituloDePagina {
  background-color: rgba(0, 60, 255, 0.493);
  border: 3px double transparent;
  border-radius: 5%;
  color: navy;
  padding: 0%;
  margin: 0%;
  width: auto;
  height: 100%;
}

.navegacion {
  background-color: rgba(0, 0, 128, 0.418);
  border: 2px solid inherit;
  text-decoration: none !important;
  padding: 1%;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4 {
  color: White;
}

.nivelCompetencia {
  text-align: right;
}

fieldset {
  background-color: rgba(0, 0, 128, 0.418);
  border: 3px double black;
  border-color: transparent;
  border-radius: 1%;
  padding: 3%;
  margin: 0%;
}

.listaDeNavegacion {
  text-decoration: none !important;
  list-style-type: none !important;
}
